---
layout: page
title: "The Team"
---
<div class="team-name"><h2>Team 1: Software Design</h2></div>
<div class="cards">
  <!-- Team 1: Software Design -->
  {% assign team1 = site.data.members | where:"team","team1" %}
  {% assign mod = team1.size | modulo:2 %}
  {% for member in team1 %}
  {% include member.html %}
  {% endfor %}
  {% if mod != 0 %}
  {% include extra-card.html %}
  {% endif %}
</div>

<div class="team-name"><h2>Team 2: 3D Design and Nanotechnologies</h2></div>
<div class="cards">
  <!-- Team 2: 3D Design and Nanotechnologies -->
  {% assign team2 = site.data.members | where:"team","team2" %}
  {% assign mod = team2.size | modulo:2 %}
  {% for member in team2 %}
  {% include member.html %}
  {% endfor %}
  {% if mod != 0 %}
  {% include extra-card.html %}
  {% endif %}
</div>

<div class="team-name"><h2>Team 3: Automation and Avionics</h2></div>
<div class="cards">
  <!-- Team 2: 3D Design and Nanotechnologies -->
  {% assign team3 = site.data.members | where:"team","team3" %}
  {% assign mod = team3.size | modulo:2 %}
  {% for member in team3 %}
  {% include member.html %}
  {% endfor %}
  {% if mod != 0 %}
  {% include extra-card.html %}
  {% endif %}
</div>

<div class="team-name"><h2>Faculty</h2></div>
<div class="cards">
  <!-- Team 2: 3D Design and Nanotechnologies -->
  {% assign faculty = site.data.members | where:"team","faculty" %}
  {% assign mod = faculty.size | modulo:2 %}
  {% for member in faculty %}
  {% include member.html %}
  {% endfor %}
  {% if mod != 0 %}
  {% include extra-card.html %}
  {% endif %}
</div>
